{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class = "card card-body">
        <h1 class = "display-1 text-center"> Task Aplication With Django</h1>
        <p>Hello, here you can create, read, update and delete your daily personal tasks totally free, you just need to register with an email, welcome ...
        </p>
        <div class = "text-center">
            <a class = "btn btn-secondary" href="/signin/">Signin</a>
            <a class = "btn btn-secondary" href="/signup/">Signup</a>
        </div>
    </section>
</main>
{% endblock %}